<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8"/>
        <title>Avec Vue</title>
        <style>
        .gras { font-weight: bold;}
        .enrouge {color: red;}
        </style>
        <script src="vue.js"></script>
    </head>
    <body>

      <div id="monapp">
        <input v-model="leMessage"></input>
        <input v-model="leMessage"></input>
        <input v-model="leMessage2"
        v-on:keyup.space="mettreAuRandom"
        ></input>
        <div>{{ leMessage }}</div>
        <div>{{ leMessage }}</div>
        <div>{{ leMessageEnMajuscules }}</div>
        <div>{{ leMessage }} {{ leMessage2 }}</div>
        <a href="#" onclick="
        monvue.leMessage = ('RND: '+Math.random()).slice(0, 10);
        ">R1</a>

        <a href="#" v-on:click="
        leMessage = ('RND: '+Math.random()).slice(0, 10);
        ">R2</a>

        <a href="#" v-on:click="mettreAuRandom">R3</a>
        <a href="#" v-on:click="mettreAuRandom">R4</a>
        <a href="#" v-on:mousemove="mettreAuRandom">R5</a>
        <a href="#" v-on:mousemove.shift="mettreAuRandom">R6</a>

        <div v-bind:title="leMessage">{{ toto }}</div>
        <div v-bind:title="leMessage">{{ toto }}</div>

        <div v-bind:class="{
          enrouge: leMessage=='toto',
          gras: leMessage.startsWith('to')
       }">{{ toto }}</div>

        <div v-bind:style="{
          background: leMessage=='toto' ? 'red' : '',
          fontWeight: leMessage.startsWith('to') ? 'bold' : ''
       }">{{ toto }}</div>

        <br/>

      </div>

      <script>
      var monvue = new Vue({
        el: '#monapp',
        data: {
          leMessage: 'PAR DÉFAUT',
          leMessage2: 'autre'
        },
        methods: {
          mettreAuRandom: function() {
            this.leMessage = ('RND: '+Math.random()).slice(0, 10);
          }
        },
        computed: {
          leMessageEnMajuscules: function() {
            return this.leMessage.toUpperCase();
          },
          toto: {
            get: function() { return "TOTO"; },
            set: function(v) { this.leMessage = this.leMessage2 = v;}
          }
        }
      });

      //setTimeout(() => { monvue.leMessage = 'TIMEOUT'; }, 1000);
      //setTimeout(() => { monvue.toto = 'test toto'; }, 2000);



      </script>

    </body>
</html>
