<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Mon Entreprise</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/picnic.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    </head>
    <body>
        <div id="page">
            <div id="headd">
                <div id="top">
                    <div id="menu">
                        <div>
                            <a th:href="@{/profil_company}">Profile </a>
                        </div>
                        <div>
                            Messages
                        </div>
                        <div>
                            Notifications
                        </div>
                        <div>
                            <a th:href="@{/logout}">LougOut</a> 
                        </div>
                    </div>
                    <div id="search">
                        <input type="text" v-model="leMessage" size="40" maxlength="100"/>
                    </div>
                </div>
            </div>
            
            <div id="bodyy">
                
                <ul th:each="proj : ${compete}" >
               
                <li class="homeProject">   
                    <article>
                        <header class="title">
                            <a th:href="@{/profilAuthor(id = ${proj.creator.id})}" th:text="${proj.creator.name}"></a>
                             a publié :
                            <label class="brand" th:text ="${proj.title}"></label>
                        </header>
                        <footer>
                            <p th:text="${proj.title}">no description</p>
                            <label for="modal_2" >more details</label>  
                            <div class="modal"> 
                                <input id="modal_2" type="checkbox" />
                                <label for="modal_2" class="overlay"></label>
                                <article>
                                    <header>
                                        <h3><a href="#" th:text="${proj.title}"></a></h3>
                                        <label for="modal_2" class="close">&times;</label>
                                    </header>

                                    <section class="content">
                                        <p th:text="${proj.descrip} "></p>                               
                                    </section>
                                    <footer>
                                        <label for="modal_2" class="button dangerous"> cancel </label>

                                    </footer>

                                </article>
                            </div>
                        </footer>
                    </article>
                </li>
            
            </ul>
                
            </div>
            
            <div id="foooter">
                
            </div>
            
        </div>
    </body>
</html>