<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/picnic.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>


    </head>
    <body>
        <div class="menu1"> 
            <a  class="button" th:href="@{/monProfil(monId= ${student.id})}" > mon profil </a> 
        </div>
       
        <div class="great_windows">
            <ul th:each="proj : ${projects}">
                <li>                                     
                    <nav class="demo">
                        <a class="brand" th:text ="${proj.name}"></a>
                        <span th:text="${proj.descrip}"></span>
                        <div class="menu">
                          <a href="#" class="pseudo button icon-picture" th:text="${proj.autor}"></a>
                          <a href="#" class="button icon-puzzle" th:href="@{/projectDetail(cid=${proj.id})}">More Details</a>
                        </div>
                    </nav>
          
                </li>
            </ul>
        </div>
        
    </body>
</html>
