<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/picnic.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
         
        
    </head>
    <body>
        
    
        <div id="page">
            <div id="headd">
                <div id="top">
                    <div id="menu">
                        <div>
                        <a th:href="@{/home}" > Home </a> 
                        </div>
                        <div>
                           Profil 
                        </div>
                        <div>
                            Messagérie
                        </div>
                        <div>
                            Notifications
                        </div>
                        <div>
                            <a th:href="@{/logout}">LougOut</a> 
                        </div>
                    </div>
                    <div id="search">
                        <input type="text" placeholder="Recherche" size="40" maxlength="100"/>
                    </div>
                </div>
            </div>
            
            <div id="bodyy">
                <div class="card genral">
                    <div class="img left">
                        <img th:src="${images+''+student.username+''+type}"/>
                        
                        <button v-on:click="ShowImg"> change picture </button>
                    
                        <form v-if="showImg" method="post" th:action="@{/changeImg}" enctype="multipart/form-data">
                            <input type="file" name="photo" />
                            <input type="submit" value="save" v-on:click="HiddenImg"/>
                        </form>
                    </div>
                    <div class="right info">
                        <h1 th:text="${student.username}">NAME STUDENT</h1>
                        <div>
                            <span id="id_class" th:text="${student.id}">
                              
                            </span>
                        </div>
                        <div>
                            CITY STUDENT - 120 Abonés
                        </div>
                        
                    </div>
                </div>
           
                <article class="card more">
                    <header>
                        <a href="#"> <h3> A PROPOS </h3> </a>
                    </header>
                    <footer>
                        DU CONTENU ICI
                    </footer>
                </article>
                
                <article class="card more">
                    <header>
                        <h3> LES PROJETS </h3>
                       <label for="modal_1" class="button">+</label>

                        <div class="modal">
                          <input id="modal_1" type="checkbox" />
                          <label for="modal_1" class="overlay"></label>
                          <article>
                            <header>
                              <h3>Ajouter un nouveau projet</h3>
                              <label for="modal_1" class="close">&times;</label>
                            </header>
                            <section class="content">
                                <form>
                                    <input type="text" v-model="newProject.title" placeholder="Titre du Project"/>
                                    <div>
                                        <div>
                                            <span> Date Début</span>
                                            <div>
                                                <select v-model="newProject.beginMonth">
                                                    <option>Mois</option>
                                                    <option>Janvier</option>
                                                    <option>Février</option>
                                                    <option>Mars</option>
                                                    <option>Avril</option>
                                                    <option>Mai</option>
                                                    <option>Juin</option>
                                                    <option>Juillet</option>
                                                    <option>Août</option>
                                                    <option>Septembre</option>
                                                    <option>Octobre</option>
                                                    <option>Novembre</option>
                                                    <option>Décembre</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select v-model="newProject.beginYear">
                                                    <option>Année</option>
                                                    <option>2017</option>
                                                    <option>2016</option>
                                                    <option>2015</option>
                                                    <option>2014</option>
                                                    <option>2013</option>
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                    <option>2009</option>
                                                    <option>2008</option>
                                                    <option>2007</option>
                                                    <option>2006</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <span> Date Fin</span>
                                            <div>
                                                <select v-model="newProject.endMonth">
                                                    <option>Mois</option>
                                                    <option>Janvier</option>
                                                    <option>Février</option>
                                                    <option>Mars</option>
                                                    <option>Avril</option>
                                                    <option>Mai</option>
                                                    <option>Juin</option>
                                                    <option>Juillet</option>
                                                    <option>Août</option>
                                                    <option>Septembre</option>
                                                    <option>Octobre</option>
                                                    <option>Novembre</option>
                                                    <option>Décembre</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select v-model="newProject.endYear">
                                                    <option>Année</option>
                                                    <option>2017</option>
                                                    <option>2016</option>
                                                    <option>2015</option>
                                                    <option>2014</option>
                                                    <option>2013</option>
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                    <option>2009</option>
                                                    <option>2008</option>
                                                    <option>2007</option>
                                                    <option>2006</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <textarea v-model="newProject.descrip" placeholder="Description"></textarea>
                                </form>
                            </section>
                            <footer>
                                
                                <a class="button" v-on:click.prevent="addProject">Ajouter</a>
                                <label for="modal_1" class="button dangerous">
                                  Annuler
                                </label>
                            </footer>
                          </article>
                        </div>
                    </header>
                    <footer>
                        <div v-for="pro in projects" class="card">
                            <header>
                                <h4>{{pro.title}}</h4> Du <span>{{pro.beginMonth}}-{{pro.beginYear}}</span> 
                                                        à <span>{{pro.endMonth}}-{{pro.endYear}}</span>
                            </header>
                            <footer>
                                <p>{{pro.descrip}}</p>
                            </footer>
                            <label for="modal_2" class="button">more details</label>
                            <div class="modal"> 
                              <input id="modal_2" type="checkbox" />
                              <label for="modal_2" class="overlay"></label>
                              <article>
                                <header>
                                  <h3><a href="#" >{{pro.title}}</a></h3>
                                  <label for="modal_2" class="close">&times;</label>
                                </header>

                                <section class="content">

                                    <p>{{pro.descrip}}</p>                               
                                </section>
                                <footer>
                                  <label class="button">
                                    Modifie
                                  </label>
                                  <label for="modal_2" class="button dangerous">
                                    Cancel
                                  </label>
                                </footer>
                                  </article>
                            </div>
                        </div>
                    </footer>
                </article>
                
                
                 <article class="card more" id= "formation">
                    <header>
                       <h3> FORMATIONS </h3>
                       
                       <label for="modal_3" class="button">+</label>

                        <div class="modal">
                          <input id="modal_3" type="checkbox" />
                          <label for="modal_3" class="overlay"></label>
                          <article>
                            <header>
                              <h3>add new formation</h3>
                              {{newFormation.name}}
                              <label for="modal_3" class="close">&times;</label>
                              
                            </header>
                            <form method="post" >
                            <section class="content">
                                
                                    <select v-model="newFormation.domain">
                                        <option>domain</option>
                                        <option>Informatique / Reseau</option>
                                        <option>Physique </option>
                                        <option>Agroalimentaire</option>
                                        <option> Électronique / Électricité</option>
                                        <option> Banque / Assurance</option>
                                        <option> BTP / Matériaux de construction</option>
                                        <option>Chimie / Parachimie</option>
                                        <option>Commerce / Négoce / Distribution</option>
                                        <option>Bois / Papier / Carton / Imprimerie</option>
                                    </select>
                                    <input type="text" v-model="newFormation.name" placeholder="formation name"/>
                                    <input type="text" v-model="newFormation.dateBegin" placeholder="begin : jj/mm/year"/>
                                    <input type="text" v-model="newFormation.dateEnd" placeholder="end : jj/mm/year"/>
                                    
    
                            </section>
                            <footer>
                                <button v-on:click="addFormation"> addFormation </button>
                              <label for="modal_3" class="button dangerous">
                                Cancel
                              </label>
                            </footer>
                           </form>
                          </article>
                        </div>

                       
                       
                    </header>
                    <footer>
                        <div v-for="f in formations">
                            {{f.dateBegin}}-{{f.dateEnd}}: {{f.name}}
                            <hr/>
                        </div>
                            
                     
                    </footer>
                </article>
                
                
                <article class="card more">
                    <header>
                      <h3> LES COMPETITION </h3>
                       <button> + </button>
                    </header>
                    <footer>
                        DU CONTENU ICI
                    </footer>
                </article>
                <div id="skill">
                <article class="card more">
                    <header>
                       <h3> SKILLS </h3>
                       
                       <label for="modal_4" class="button">+</label>

                        <div class="modal">
                          <input id="modal_4" type="checkbox" />
                          <label for="modal_4" class="overlay"></label>
                          <article>
                            <header>
                              <h3>choiced or put your skill</h3>
                              <label for="modal_4" class="close">&times;</label>
                            </header>
                            <form>
                                <section class="content">

                                    <select v-model="newSkill.label">
                                        <option>Spring Boot</option>
                                        <option>Vue</option>
                                        <option>thymeleaf</option>
                                        <option>HTML</option>
                                        <option>CSS</option>
                                    </select>
                                    <input type="text" v-model="newSkill.label" placeholder="put your skill"/>


                                </section>
                                <footer>
                                  <button v-on:click="addSkill"> add Skill </button>
                                  <label for="modal_4" class="button dangerous">
                                    Cancel
                                  </label>
                                </footer>
                            </form>
                          </article>
                        </div>

                       
                       
                    </header>
                    <footer>
                            <ul class="skill">                          
                                <div th:each="skill : ${skills}">
                                    <li th:text ="${skill.label}"></li>
                                </div>
                            </ul>
                            
                     
                    </footer>
                </article>
                </div>
            </div>
            
            <div id="foooter">
                <h1>LE FOOTER</h1>
                 
            </div>
            
        </div>
      
        
       <script type="text/javascript"  th:src="@{/vue.js}"></script>
        <script type="text/javascript"  src="/js/vue-resource.min.js"></script> 
        <script type="text/javascript"  th:src="@{/js/student_profile.js}"></script> 
       
    </body>
</html>
