<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome</title>
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <link rel="stylesheet" th:href="@{/css/picnic.css}"/>
         <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    
    
    <body th:inline="text" style="background-image:url(/images/welcome.jpg)" >
         <div id="header">
           <!--  <form th:action="@{/checkLogin}" method="POST" th:object="${log}">-->
                  <form th:action="@{/login}" method="POST" th:object="${log}">
                    <div th:if="${param.error}" class="alert alert-error">
                             Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                    </div>
                    <div id="connex">
                         <input class="connex" type="text" placeholder="Login" th:field="*{username}" required="required"/> 
                         <input class="connex" type="password" placeholder="Password" th:field="*{password}" required="required"/>
                         <input type="submit" id="buttonColor" value="Sign In"/>
                    </div>
             </form>   
         </div>
        <p id="NewMember"> New Member  ?  </p>
        <div id="button" class="comp_stud_button">
                    <label for="modal_1" class="button" id="buttonColor">Company</label>
                    <label for="modal_2" class="button" id="buttonColor">Student</label>
        </div>
        
            <div class="content" >

                    <div class="modal" >
                        <input id="modal_1" type="checkbox" /> <!-- il cache le div qu on va créer a la suite -->
                        <label for="modal_1" class="overlay"></label> <!--on clickant sur le boutton il permet d'avoir un pop dynamique -->
                        <div>
                        <article >
                                <header>
                                  <h3>Sign up Company</h3>
                                     <label for="modal_1" class="close">&times;</label> <!--affiche la croix qui permet de fermer la fenetre -->
                                </header>
                                <form th:action="@{/addCompany}" method="POST" th:object="${comp}" >
                                    <input id="form" type="text" placeholder="Username" th:field="*{username}" required="required"/>
                                    <input id="form" type="text" placeholder="Company Name" th:field="*{name}" required="required"/>

                                    <input id="form" type="text" placeholder="Email" th:field="*{email}" required="required"/>
                                    <input id="form" type="password" placeholder="Password" th:field="*{pswd}" required="required"/>
                                    <textarea id="form" placeholder="Discription" name="discription" th:field="*{description}"></textarea>
                                  <footer>
                                   <button class='success'>Submit</button>
                                  </footer>
                                </form>

                                
                            </article>
                          </div> 
                    </div>
                    <div class="modal">
                        <input id="modal_2" type="checkbox" /> <!-- il cache le div qu on va créer a la suite -->
                        <label for="modal_2" class="overlay"></label> <!--on clickant sur le boutton il permet d'avoir un pop dynamique -->
                        <div>   
                        <article>
                                <header>
                                 <h3>Sign up student</h3>
                                     <label for="modal_2" class="close">&times;</label> <!--affiche la croix qui permet de fermer la fenetre -->
                                </header>
                                 <form th:action="@{/addStudent}" method="POST" th:object="${stud}">
                                    <input id="form" type="text" placeholder="Username" th:field="*{username}" required="required"/>
                                    <input id="form" type="text" placeholder="Name" th:field="*{name}" required="required"/>
                                    <input id="form" type="text" placeholder="First Name" th:field="*{firstName}" required="required"/> 
                                    <input id="form" type="email" placeholder="Email" th:field="*{email}" required="required"/>
                                    <input id="form" type="password" placeholder="Password" th:field="*{passWord}" required="required"/>
                                    <footer>
                                    <button class='success'>Submit</button>
                                    </footer>
                                </form>

                                
                            </article>
                        </div>
                    </div>
            </div>
      
   
    </body>
</html>